/* Typography */

.block-title {
  @apply text-primaryText text-3xl font-bold tracking-normal;
}
.block-big-title {
  @apply text-primaryText text-4xl xl:text-5xl font-bold tracking-normal;
}
.block-subtitle {
  @apply text-xs text-secondaryColor  tracking-wider font-bold uppercase;
}
.content-title {
  @apply text-primaryText text-lg font-bold tracking-normal;
}
.content-text-white {
  @apply text-primaryText text-base leading-relaxed;
}
.content-text-gray {
  @apply text-gray-400 text-base;
}

/* Borders */

.main-border-gray {
  @apply border border-solid border-mainBorder;
}
.main-border-gray-darker {
  @apply border border-solid border-mainBorderDarker;
}

/* Buttons */

.contained-button {
  @apply rounded-lg font-bold bg-primaryColor text-primaryText flex justify-center items-center hover:bg-hoverColor cursor-pointer transition duration-300;
}
.outlined-button {
  @apply text-primaryText main-border-gray rounded-xl bg-bgDark2 hover:bg-bgDark3  border-gray-700 text-sm;
}

/* Preventing FOUC */
@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}

/* Estilos para navegadores basados en WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  height: 12px; /* Altura de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la pista */
  border-radius: 0px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb {
  background: #333; /* Color del "thumb" (la parte que se mueve) */
  border-radius: 0px; /* Bordes redondeados */
  border: 3px solid #333; /* Borde alrededor del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #444; /* Color del thumb al pasar el mouse */
}