/* Typography */

.block-title {
  @apply font-bold text-primaryText text-3xl tracking-normal;
}
.block-big-title {
  @apply font-bold text-primaryText text-4xl xl:text-5xl tracking-normal;
}
.block-subtitle {
  @apply font-bold text-secondaryColor text-xs uppercase tracking-wider;
}
.content-title {
  @apply font-bold text-primaryText text-lg tracking-normal;
}
.content-text-white {
  @apply text-primaryText text-base leading-relaxed;
}
.content-text-gray {
  @apply text-gray-400 text-base;
}

/* Borders */

.main-border-gray {
  @apply border border-mainBorder border-solid;
}
.main-border-gray-darker {
  @apply border border-mainBorderDarker border-solid;
}

/* Buttons */

.contained-button {
  @apply flex justify-center items-center bg-primaryColor hover:bg-hoverColor rounded-lg font-bold text-primaryText transition duration-300 cursor-pointer;
}
.outlined-button {
  @apply bg-bgDark2 hover:bg-bgDark3 border-gray-700 main-border-gray rounded-xl text-primaryText text-sm;
}

/* Preventing FOUC */
@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}

/* Estilos para navegadores basados en WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  height: 12px; /* Altura de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la pista */
  border-radius: 0px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb {
  background: #333; /* Color del "thumb" (la parte que se mueve) */
  border-radius: 0px; /* Bordes redondeados */
  border: 3px solid #333; /* Borde alrededor del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #444; /* Color del thumb al pasar el mouse */
}